Source/Integration/IntegrationPack/sourceFiles/soap/samples/dotnet/App_WebReferences/EQUELLA/SoapService51Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.remoting.web.tle.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SoapService51Service" targetNamespace="http://soap.remoting.web.tle.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://lang.java" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://lang.java">
      <xsd:complexType name="Exception">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:ns0="http://lang.java" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.remoting.web.tle.com">
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfInt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="int" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteGroup" type="tns:deleteGroup" />
      <xsd:complexType name="deleteGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteGroupResponse" type="tns:deleteGroupResponse" />
      <xsd:complexType name="deleteGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getContributableCollections" type="tns:getContributableCollections" />
      <xsd:complexType name="getContributableCollections">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getContributableCollectionsResponse" type="tns:getContributableCollectionsResponse" />
      <xsd:complexType name="getContributableCollectionsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getCollection" type="tns:getCollection" />
      <xsd:complexType name="getCollection">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getCollectionResponse" type="tns:getCollectionResponse" />
      <xsd:complexType name="getCollectionResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editTopic" type="tns:editTopic" />
      <xsd:complexType name="editTopic">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editTopicResponse" type="tns:editTopicResponse" />
      <xsd:complexType name="editTopicResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getComment" type="tns:getComment" />
      <xsd:complexType name="getComment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getCommentResponse" type="tns:getCommentResponse" />
      <xsd:complexType name="getCommentResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSchema" type="tns:getSchema" />
      <xsd:complexType name="getSchema">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSchemaResponse" type="tns:getSchemaResponse" />
      <xsd:complexType name="getSchemaResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchGroups" type="tns:searchGroups" />
      <xsd:complexType name="searchGroups">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchGroupsResponse" type="tns:searchGroupsResponse" />
      <xsd:complexType name="searchGroupsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteComment" type="tns:deleteComment" />
      <xsd:complexType name="deleteComment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteCommentResponse" type="tns:deleteCommentResponse" />
      <xsd:complexType name="deleteCommentResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="addGroup" type="tns:addGroup" />
      <xsd:complexType name="addGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addGroupResponse" type="tns:addGroupResponse" />
      <xsd:complexType name="addGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="searchItems" type="tns:searchItems" />
      <xsd:complexType name="searchItems">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" nillable="true" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" type="xsd:boolean" />
          <xsd:element name="in4" type="xsd:int" />
          <xsd:element name="in5" type="xsd:boolean" />
          <xsd:element name="in6" type="xsd:int" />
          <xsd:element name="in7" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchItemsResponse" type="tns:searchItemsResponse" />
      <xsd:complexType name="searchItemsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cloneItem" type="tns:cloneItem" />
      <xsd:complexType name="cloneItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element name="in2" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cloneItemResponse" type="tns:cloneItemResponse" />
      <xsd:complexType name="cloneItemResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unlock" type="tns:unlock" />
      <xsd:complexType name="unlock">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unlockResponse" type="tns:unlockResponse" />
      <xsd:complexType name="unlockResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="deleteItem" type="tns:deleteItem" />
      <xsd:complexType name="deleteItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteItemResponse" type="tns:deleteItemResponse" />
      <xsd:complexType name="deleteItemResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="facetCount" type="tns:facetCount" />
      <xsd:complexType name="facetCount">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" nillable="true" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" nillable="true" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="facetCountResponse" type="tns:facetCountResponse" />
      <xsd:complexType name="facetCountResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteUser" type="tns:deleteUser" />
      <xsd:complexType name="deleteUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteUserResponse" type="tns:deleteUserResponse" />
      <xsd:complexType name="deleteUserResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="userExists" type="tns:userExists" />
      <xsd:complexType name="userExists">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="userExistsResponse" type="tns:userExistsResponse" />
      <xsd:complexType name="userExistsResponse">
        <xsd:sequence>
          <xsd:element name="out" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rejectTask" type="tns:rejectTask" />
      <xsd:complexType name="rejectTask">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in3" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in4" nillable="true" type="xsd:string" />
          <xsd:element name="in5" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="rejectTaskResponse" type="tns:rejectTaskResponse" />
      <xsd:complexType name="rejectTaskResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="login" type="tns:login" />
      <xsd:complexType name="login">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="loginResponse" type="tns:loginResponse" />
      <xsd:complexType name="loginResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getTopic" type="tns:getTopic" />
      <xsd:complexType name="getTopic">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getTopicResponse" type="tns:getTopicResponse" />
      <xsd:complexType name="getTopicResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getGroupsByUser" type="tns:getGroupsByUser" />
      <xsd:complexType name="getGroupsByUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getGroupsByUserResponse" type="tns:getGroupsByUserResponse" />
      <xsd:complexType name="getGroupsByUserResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getItemFilenames" type="tns:getItemFilenames" />
      <xsd:complexType name="getItemFilenames">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getItemFilenamesResponse" type="tns:getItemFilenamesResponse" />
      <xsd:complexType name="getItemFilenamesResponse">
        <xsd:sequence>
          <xsd:element name="out" nillable="true" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addSharedOwner" type="tns:addSharedOwner" />
      <xsd:complexType name="addSharedOwner">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addSharedOwnerResponse" type="tns:addSharedOwnerResponse" />
      <xsd:complexType name="addSharedOwnerResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="logout" type="tns:logout" />
      <xsd:complexType name="logout">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="logoutResponse" type="tns:logoutResponse" />
      <xsd:complexType name="logoutResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="deleteTopic" type="tns:deleteTopic" />
      <xsd:complexType name="deleteTopic">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteTopicResponse" type="tns:deleteTopicResponse" />
      <xsd:complexType name="deleteTopicResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="userNameExists" type="tns:userNameExists" />
      <xsd:complexType name="userNameExists">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="userNameExistsResponse" type="tns:userNameExistsResponse" />
      <xsd:complexType name="userNameExistsResponse">
        <xsd:sequence>
          <xsd:element name="out" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editItem" type="tns:editItem" />
      <xsd:complexType name="editItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element name="in2" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editItemResponse" type="tns:editItemResponse" />
      <xsd:complexType name="editItemResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getComments" type="tns:getComments" />
      <xsd:complexType name="getComments">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element name="in2" type="xsd:int" />
          <xsd:element name="in3" type="xsd:int" />
          <xsd:element name="in4" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getCommentsResponse" type="tns:getCommentsResponse" />
      <xsd:complexType name="getCommentsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchItemsFast" type="tns:searchItemsFast" />
      <xsd:complexType name="searchItemsFast">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" nillable="true" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" type="xsd:boolean" />
          <xsd:element name="in4" type="xsd:int" />
          <xsd:element name="in5" type="xsd:boolean" />
          <xsd:element name="in6" type="xsd:int" />
          <xsd:element name="in7" type="xsd:int" />
          <xsd:element name="in8" nillable="true" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchItemsFastResponse" type="tns:searchItemsFastResponse" />
      <xsd:complexType name="searchItemsFastResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="archiveItem" type="tns:archiveItem" />
      <xsd:complexType name="archiveItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="archiveItemResponse" type="tns:archiveItemResponse" />
      <xsd:complexType name="archiveItemResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getTaskFilterNames" type="tns:getTaskFilterNames" />
      <xsd:complexType name="getTaskFilterNames">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getTaskFilterNamesResponse" type="tns:getTaskFilterNamesResponse" />
      <xsd:complexType name="getTaskFilterNamesResponse">
        <xsd:sequence>
          <xsd:element name="out" nillable="true" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUserToGroup" type="tns:addUserToGroup" />
      <xsd:complexType name="addUserToGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUserToGroupResponse" type="tns:addUserToGroupResponse" />
      <xsd:complexType name="addUserToGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="uploadFile" type="tns:uploadFile" />
      <xsd:complexType name="uploadFile">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="uploadFileResponse" type="tns:uploadFileResponse" />
      <xsd:complexType name="uploadFileResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="removeUserFromAllGroups" type="tns:removeUserFromAllGroups" />
      <xsd:complexType name="removeUserFromAllGroups">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="removeUserFromAllGroupsResponse" type="tns:removeUserFromAllGroupsResponse" />
      <xsd:complexType name="removeUserFromAllGroupsResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="queryCount" type="tns:queryCount" />
      <xsd:complexType name="queryCount">
        <xsd:sequence>
          <xsd:element name="in0" nillable="true" type="tns:ArrayOfString" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryCountResponse" type="tns:queryCountResponse" />
      <xsd:complexType name="queryCountResponse">
        <xsd:sequence>
          <xsd:element name="out" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listTopics" type="tns:listTopics" />
      <xsd:complexType name="listTopics">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="listTopicsResponse" type="tns:listTopicsResponse" />
      <xsd:complexType name="listTopicsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="saveItem" type="tns:saveItem" />
      <xsd:complexType name="saveItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="saveItemResponse" type="tns:saveItemResponse" />
      <xsd:complexType name="saveItemResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUser" type="tns:getUser" />
      <xsd:complexType name="getUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUserResponse" type="tns:getUserResponse" />
      <xsd:complexType name="getUserResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getGroupUuidForName" type="tns:getGroupUuidForName" />
      <xsd:complexType name="getGroupUuidForName">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getGroupUuidForNameResponse" type="tns:getGroupUuidForNameResponse" />
      <xsd:complexType name="getGroupUuidForNameResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteFile" type="tns:deleteFile" />
      <xsd:complexType name="deleteFile">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteFileResponse" type="tns:deleteFileResponse" />
      <xsd:complexType name="deleteFileResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="editUser" type="tns:editUser" />
      <xsd:complexType name="editUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in3" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in4" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in5" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editUserResponse" type="tns:editUserResponse" />
      <xsd:complexType name="editUserResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="itemExists" type="tns:itemExists" />
      <xsd:complexType name="itemExists">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="itemExistsResponse" type="tns:itemExistsResponse" />
      <xsd:complexType name="itemExistsResponse">
        <xsd:sequence>
          <xsd:element name="out" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createTopic" type="tns:createTopic" />
      <xsd:complexType name="createTopic">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
          <xsd:element name="in2" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createTopicResponse" type="tns:createTopicResponse" />
      <xsd:complexType name="createTopicResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUser" type="tns:addUser" />
      <xsd:complexType name="addUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in3" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in4" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in5" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUserResponse" type="tns:addUserResponse" />
      <xsd:complexType name="addUserResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="moveTopic" type="tns:moveTopic" />
      <xsd:complexType name="moveTopic">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
          <xsd:element name="in2" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="moveTopicResponse" type="tns:moveTopicResponse" />
      <xsd:complexType name="moveTopicResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="removeSharedOwner" type="tns:removeSharedOwner" />
      <xsd:complexType name="removeSharedOwner">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="removeSharedOwnerResponse" type="tns:removeSharedOwnerResponse" />
      <xsd:complexType name="removeSharedOwnerResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="loginWithToken" type="tns:loginWithToken" />
      <xsd:complexType name="loginWithToken">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="loginWithTokenResponse" type="tns:loginWithTokenResponse" />
      <xsd:complexType name="loginWithTokenResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="setParentGroupForGroup" type="tns:setParentGroupForGroup" />
      <xsd:complexType name="setParentGroupForGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="setParentGroupForGroupResponse" type="tns:setParentGroupForGroupResponse" />
      <xsd:complexType name="setParentGroupForGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="isUserInGroup" type="tns:isUserInGroup" />
      <xsd:complexType name="isUserInGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="isUserInGroupResponse" type="tns:isUserInGroupResponse" />
      <xsd:complexType name="isUserInGroupResponse">
        <xsd:sequence>
          <xsd:element name="out" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editGroup" type="tns:editGroup" />
      <xsd:complexType name="editGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="editGroupResponse" type="tns:editGroupResponse" />
      <xsd:complexType name="editGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="newItem" type="tns:newItem" />
      <xsd:complexType name="newItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="newItemResponse" type="tns:newItemResponse" />
      <xsd:complexType name="newItemResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getItem" type="tns:getItem" />
      <xsd:complexType name="getItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getItemResponse" type="tns:getItemResponse" />
      <xsd:complexType name="getItemResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addComment" type="tns:addComment" />
      <xsd:complexType name="addComment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" type="xsd:int" />
          <xsd:element name="in4" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addCommentResponse" type="tns:addCommentResponse" />
      <xsd:complexType name="addCommentResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="acceptTask" type="tns:acceptTask" />
      <xsd:complexType name="acceptTask">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
          <xsd:element name="in3" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="acceptTaskResponse" type="tns:acceptTaskResponse" />
      <xsd:complexType name="acceptTaskResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryCounts" type="tns:queryCounts" />
      <xsd:complexType name="queryCounts">
        <xsd:sequence>
          <xsd:element name="in0" nillable="true" type="tns:ArrayOfString" />
          <xsd:element name="in1" nillable="true" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryCountsResponse" type="tns:queryCountsResponse" />
      <xsd:complexType name="queryCountsResponse">
        <xsd:sequence>
          <xsd:element name="out" nillable="true" type="tns:ArrayOfInt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="newVersionItem" type="tns:newVersionItem" />
      <xsd:complexType name="newVersionItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element name="in2" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="newVersionItemResponse" type="tns:newVersionItemResponse" />
      <xsd:complexType name="newVersionItemResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="keepAlive" type="tns:keepAlive" />
      <xsd:complexType name="keepAlive">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="keepAliveResponse" type="tns:keepAliveResponse" />
      <xsd:complexType name="keepAliveResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getTaskList" type="tns:getTaskList" />
      <xsd:complexType name="getTaskList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element name="in2" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getTaskListResponse" type="tns:getTaskListResponse" />
      <xsd:complexType name="getTaskListResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchUsersByGroup" type="tns:searchUsersByGroup" />
      <xsd:complexType name="searchUsersByGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchUsersByGroupResponse" type="tns:searchUsersByGroupResponse" />
      <xsd:complexType name="searchUsersByGroupResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="groupExists" type="tns:groupExists" />
      <xsd:complexType name="groupExists">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="groupExistsResponse" type="tns:groupExistsResponse" />
      <xsd:complexType name="groupExistsResponse">
        <xsd:sequence>
          <xsd:element name="out" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSearchableCollections" type="tns:getSearchableCollections" />
      <xsd:complexType name="getSearchableCollections">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getSearchableCollectionsResponse" type="tns:getSearchableCollectionsResponse" />
      <xsd:complexType name="getSearchableCollectionsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="setOwner" type="tns:setOwner" />
      <xsd:complexType name="setOwner">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="setOwnerResponse" type="tns:setOwnerResponse" />
      <xsd:complexType name="setOwnerResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="removeUserFromGroup" type="tns:removeUserFromGroup" />
      <xsd:complexType name="removeUserFromGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="removeUserFromGroupResponse" type="tns:removeUserFromGroupResponse" />
      <xsd:complexType name="removeUserFromGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="unzipFile" type="tns:unzipFile" />
      <xsd:complexType name="unzipFile">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in1" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="in2" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unzipFileResponse" type="tns:unzipFileResponse" />
      <xsd:complexType name="unzipFileResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="removeAllUsersFromGroup" type="tns:removeAllUsersFromGroup" />
      <xsd:complexType name="removeAllUsersFromGroup">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="removeAllUsersFromGroupResponse" type="tns:removeAllUsersFromGroupResponse" />
      <xsd:complexType name="removeAllUsersFromGroupResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="getTaskFilterCounts" type="tns:getTaskFilterCounts" />
      <xsd:complexType name="getTaskFilterCounts">
        <xsd:sequence>
          <xsd:element name="in0" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getTaskFilterCountsResponse" type="tns:getTaskFilterCountsResponse" />
      <xsd:complexType name="getTaskFilterCountsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="out" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelItemEdit" type="tns:cancelItemEdit" />
      <xsd:complexType name="cancelItemEdit">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="in0" nillable="true" type="xsd:string" />
          <xsd:element name="in1" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="cancelItemEditResponse" type="tns:cancelItemEditResponse" />
      <xsd:complexType name="cancelItemEditResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="Exception" nillable="true" type="ns0:Exception" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addUserToGroupResponse">
    <wsdl:part name="parameters" element="tns:addUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getTopicResponse">
    <wsdl:part name="parameters" element="tns:getTopicResponse" />
  </wsdl:message>
  <wsdl:message name="getItem">
    <wsdl:part name="parameters" element="tns:getItem" />
  </wsdl:message>
  <wsdl:message name="deleteFileResponse">
    <wsdl:part name="parameters" element="tns:deleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="getGroupUuidForNameResponse">
    <wsdl:part name="parameters" element="tns:getGroupUuidForNameResponse" />
  </wsdl:message>
  <wsdl:message name="archiveItemResponse">
    <wsdl:part name="parameters" element="tns:archiveItemResponse" />
  </wsdl:message>
  <wsdl:message name="searchGroupsResponse">
    <wsdl:part name="parameters" element="tns:searchGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="itemExistsResponse">
    <wsdl:part name="parameters" element="tns:itemExistsResponse" />
  </wsdl:message>
  <wsdl:message name="facetCountResponse">
    <wsdl:part name="parameters" element="tns:facetCountResponse" />
  </wsdl:message>
  <wsdl:message name="searchItemsFast">
    <wsdl:part name="parameters" element="tns:searchItemsFast" />
  </wsdl:message>
  <wsdl:message name="removeAllUsersFromGroupResponse">
    <wsdl:part name="parameters" element="tns:removeAllUsersFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getContributableCollections">
    <wsdl:part name="parameters" element="tns:getContributableCollections" />
  </wsdl:message>
  <wsdl:message name="queryCountResponse">
    <wsdl:part name="parameters" element="tns:queryCountResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="getCommentsResponse">
    <wsdl:part name="parameters" element="tns:getCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="rejectTask">
    <wsdl:part name="parameters" element="tns:rejectTask" />
  </wsdl:message>
  <wsdl:message name="getGroupsByUser">
    <wsdl:part name="parameters" element="tns:getGroupsByUser" />
  </wsdl:message>
  <wsdl:message name="removeSharedOwnerResponse">
    <wsdl:part name="parameters" element="tns:removeSharedOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="editTopicResponse">
    <wsdl:part name="parameters" element="tns:editTopicResponse" />
  </wsdl:message>
  <wsdl:message name="getSchema">
    <wsdl:part name="parameters" element="tns:getSchema" />
  </wsdl:message>
  <wsdl:message name="moveTopic">
    <wsdl:part name="parameters" element="tns:moveTopic" />
  </wsdl:message>
  <wsdl:message name="unzipFileResponse">
    <wsdl:part name="parameters" element="tns:unzipFileResponse" />
  </wsdl:message>
  <wsdl:message name="searchItemsResponse">
    <wsdl:part name="parameters" element="tns:searchItemsResponse" />
  </wsdl:message>
  <wsdl:message name="getCollectionResponse">
    <wsdl:part name="parameters" element="tns:getCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="saveItem">
    <wsdl:part name="parameters" element="tns:saveItem" />
  </wsdl:message>
  <wsdl:message name="searchItemsFastResponse">
    <wsdl:part name="parameters" element="tns:searchItemsFastResponse" />
  </wsdl:message>
  <wsdl:message name="getSearchableCollectionsResponse">
    <wsdl:part name="parameters" element="tns:getSearchableCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskFilterCounts">
    <wsdl:part name="parameters" element="tns:getTaskFilterCounts" />
  </wsdl:message>
  <wsdl:message name="groupExistsResponse">
    <wsdl:part name="parameters" element="tns:groupExistsResponse" />
  </wsdl:message>
  <wsdl:message name="getComments">
    <wsdl:part name="parameters" element="tns:getComments" />
  </wsdl:message>
  <wsdl:message name="searchItems">
    <wsdl:part name="parameters" element="tns:searchItems" />
  </wsdl:message>
  <wsdl:message name="editUser">
    <wsdl:part name="parameters" element="tns:editUser" />
  </wsdl:message>
  <wsdl:message name="queryCount">
    <wsdl:part name="parameters" element="tns:queryCount" />
  </wsdl:message>
  <wsdl:message name="addComment">
    <wsdl:part name="parameters" element="tns:addComment" />
  </wsdl:message>
  <wsdl:message name="newVersionItem">
    <wsdl:part name="parameters" element="tns:newVersionItem" />
  </wsdl:message>
  <wsdl:message name="uploadFile">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="uploadFileResponse">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="deleteTopic">
    <wsdl:part name="parameters" element="tns:deleteTopic" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="editItem">
    <wsdl:part name="parameters" element="tns:editItem" />
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="searchGroups">
    <wsdl:part name="parameters" element="tns:searchGroups" />
  </wsdl:message>
  <wsdl:message name="queryCountsResponse">
    <wsdl:part name="parameters" element="tns:queryCountsResponse" />
  </wsdl:message>
  <wsdl:message name="saveItemResponse">
    <wsdl:part name="parameters" element="tns:saveItemResponse" />
  </wsdl:message>
  <wsdl:message name="addSharedOwnerResponse">
    <wsdl:part name="parameters" element="tns:addSharedOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="getSchemaResponse">
    <wsdl:part name="parameters" element="tns:getSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="cancelItemEditResponse">
    <wsdl:part name="parameters" element="tns:cancelItemEditResponse" />
  </wsdl:message>
  <wsdl:message name="getCommentResponse">
    <wsdl:part name="parameters" element="tns:getCommentResponse" />
  </wsdl:message>
  <wsdl:message name="moveTopicResponse">
    <wsdl:part name="parameters" element="tns:moveTopicResponse" />
  </wsdl:message>
  <wsdl:message name="unzipFile">
    <wsdl:part name="parameters" element="tns:unzipFile" />
  </wsdl:message>
  <wsdl:message name="setParentGroupForGroup">
    <wsdl:part name="parameters" element="tns:setParentGroupForGroup" />
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="isUserInGroupResponse">
    <wsdl:part name="parameters" element="tns:isUserInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="addCommentResponse">
    <wsdl:part name="parameters" element="tns:addCommentResponse" />
  </wsdl:message>
  <wsdl:message name="editGroupResponse">
    <wsdl:part name="parameters" element="tns:editGroupResponse" />
  </wsdl:message>
  <wsdl:message name="setOwner">
    <wsdl:part name="parameters" element="tns:setOwner" />
  </wsdl:message>
  <wsdl:message name="createTopic">
    <wsdl:part name="parameters" element="tns:createTopic" />
  </wsdl:message>
  <wsdl:message name="getTaskFilterNamesResponse">
    <wsdl:part name="parameters" element="tns:getTaskFilterNamesResponse" />
  </wsdl:message>
  <wsdl:message name="loginWithTokenResponse">
    <wsdl:part name="parameters" element="tns:loginWithTokenResponse" />
  </wsdl:message>
  <wsdl:message name="searchUsersByGroupResponse">
    <wsdl:part name="parameters" element="tns:searchUsersByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getItemResponse">
    <wsdl:part name="parameters" element="tns:getItemResponse" />
  </wsdl:message>
  <wsdl:message name="newItemResponse">
    <wsdl:part name="parameters" element="tns:newItemResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskListResponse">
    <wsdl:part name="parameters" element="tns:getTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="keepAlive">
    <wsdl:part name="parameters" element="tns:keepAlive" />
  </wsdl:message>
  <wsdl:message name="getTopic">
    <wsdl:part name="parameters" element="tns:getTopic" />
  </wsdl:message>
  <wsdl:message name="newItem">
    <wsdl:part name="parameters" element="tns:newItem" />
  </wsdl:message>
  <wsdl:message name="cloneItemResponse">
    <wsdl:part name="parameters" element="tns:cloneItemResponse" />
  </wsdl:message>
  <wsdl:message name="searchUsersByGroup">
    <wsdl:part name="parameters" element="tns:searchUsersByGroup" />
  </wsdl:message>
  <wsdl:message name="editUserResponse">
    <wsdl:part name="parameters" element="tns:editUserResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="editItemResponse">
    <wsdl:part name="parameters" element="tns:editItemResponse" />
  </wsdl:message>
  <wsdl:message name="cloneItem">
    <wsdl:part name="parameters" element="tns:cloneItem" />
  </wsdl:message>
  <wsdl:message name="deleteGroup">
    <wsdl:part name="parameters" element="tns:deleteGroup" />
  </wsdl:message>
  <wsdl:message name="listTopics">
    <wsdl:part name="parameters" element="tns:listTopics" />
  </wsdl:message>
  <wsdl:message name="getTaskFilterNames">
    <wsdl:part name="parameters" element="tns:getTaskFilterNames" />
  </wsdl:message>
  <wsdl:message name="rejectTaskResponse">
    <wsdl:part name="parameters" element="tns:rejectTaskResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromGroupResponse">
    <wsdl:part name="parameters" element="tns:removeUserFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getComment">
    <wsdl:part name="parameters" element="tns:getComment" />
  </wsdl:message>
  <wsdl:message name="setParentGroupForGroupResponse">
    <wsdl:part name="parameters" element="tns:setParentGroupForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="deleteGroupResponse">
    <wsdl:part name="parameters" element="tns:deleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="keepAliveResponse">
    <wsdl:part name="parameters" element="tns:keepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="getItemFilenamesResponse">
    <wsdl:part name="parameters" element="tns:getItemFilenamesResponse" />
  </wsdl:message>
  <wsdl:message name="setOwnerResponse">
    <wsdl:part name="parameters" element="tns:setOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="getContributableCollectionsResponse">
    <wsdl:part name="parameters" element="tns:getContributableCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="getGroupsByUserResponse">
    <wsdl:part name="parameters" element="tns:getGroupsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="removeAllUsersFromGroup">
    <wsdl:part name="parameters" element="tns:removeAllUsersFromGroup" />
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="loginWithToken">
    <wsdl:part name="parameters" element="tns:loginWithToken" />
  </wsdl:message>
  <wsdl:message name="addGroupResponse">
    <wsdl:part name="parameters" element="tns:addGroupResponse" />
  </wsdl:message>
  <wsdl:message name="createTopicResponse">
    <wsdl:part name="parameters" element="tns:createTopicResponse" />
  </wsdl:message>
  <wsdl:message name="archiveItem">
    <wsdl:part name="parameters" element="tns:archiveItem" />
  </wsdl:message>
  <wsdl:message name="getGroupUuidForName">
    <wsdl:part name="parameters" element="tns:getGroupUuidForName" />
  </wsdl:message>
  <wsdl:message name="getTaskList">
    <wsdl:part name="parameters" element="tns:getTaskList" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="addSharedOwner">
    <wsdl:part name="parameters" element="tns:addSharedOwner" />
  </wsdl:message>
  <wsdl:message name="getItemFilenames">
    <wsdl:part name="parameters" element="tns:getItemFilenames" />
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="userNameExistsResponse">
    <wsdl:part name="parameters" element="tns:userNameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="cancelItemEdit">
    <wsdl:part name="parameters" element="tns:cancelItemEdit" />
  </wsdl:message>
  <wsdl:message name="editTopic">
    <wsdl:part name="parameters" element="tns:editTopic" />
  </wsdl:message>
  <wsdl:message name="removeUserFromAllGroupsResponse">
    <wsdl:part name="parameters" element="tns:removeUserFromAllGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromGroup">
    <wsdl:part name="parameters" element="tns:removeUserFromGroup" />
  </wsdl:message>
  <wsdl:message name="newVersionItemResponse">
    <wsdl:part name="parameters" element="tns:newVersionItemResponse" />
  </wsdl:message>
  <wsdl:message name="deleteItemResponse">
    <wsdl:part name="parameters" element="tns:deleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCommentResponse">
    <wsdl:part name="parameters" element="tns:deleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteItem">
    <wsdl:part name="parameters" element="tns:deleteItem" />
  </wsdl:message>
  <wsdl:message name="unlockResponse">
    <wsdl:part name="parameters" element="tns:unlockResponse" />
  </wsdl:message>
  <wsdl:message name="userExists">
    <wsdl:part name="parameters" element="tns:userExists" />
  </wsdl:message>
  <wsdl:message name="acceptTaskResponse">
    <wsdl:part name="parameters" element="tns:acceptTaskResponse" />
  </wsdl:message>
  <wsdl:message name="getCollection">
    <wsdl:part name="parameters" element="tns:getCollection" />
  </wsdl:message>
  <wsdl:message name="addUserToGroup">
    <wsdl:part name="parameters" element="tns:addUserToGroup" />
  </wsdl:message>
  <wsdl:message name="deleteFile">
    <wsdl:part name="parameters" element="tns:deleteFile" />
  </wsdl:message>
  <wsdl:message name="deleteTopicResponse">
    <wsdl:part name="parameters" element="tns:deleteTopicResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromAllGroups">
    <wsdl:part name="parameters" element="tns:removeUserFromAllGroups" />
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="addGroup">
    <wsdl:part name="parameters" element="tns:addGroup" />
  </wsdl:message>
  <wsdl:message name="removeSharedOwner">
    <wsdl:part name="parameters" element="tns:removeSharedOwner" />
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="getTaskFilterCountsResponse">
    <wsdl:part name="parameters" element="tns:getTaskFilterCountsResponse" />
  </wsdl:message>
  <wsdl:message name="groupExists">
    <wsdl:part name="parameters" element="tns:groupExists" />
  </wsdl:message>
  <wsdl:message name="facetCount">
    <wsdl:part name="parameters" element="tns:facetCount" />
  </wsdl:message>
  <wsdl:message name="getSearchableCollections">
    <wsdl:part name="parameters" element="tns:getSearchableCollections" />
  </wsdl:message>
  <wsdl:message name="listTopicsResponse">
    <wsdl:part name="parameters" element="tns:listTopicsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteComment">
    <wsdl:part name="parameters" element="tns:deleteComment" />
  </wsdl:message>
  <wsdl:message name="itemExists">
    <wsdl:part name="parameters" element="tns:itemExists" />
  </wsdl:message>
  <wsdl:message name="userNameExists">
    <wsdl:part name="parameters" element="tns:userNameExists" />
  </wsdl:message>
  <wsdl:message name="unlock">
    <wsdl:part name="parameters" element="tns:unlock" />
  </wsdl:message>
  <wsdl:message name="userExistsResponse">
    <wsdl:part name="parameters" element="tns:userExistsResponse" />
  </wsdl:message>
  <wsdl:message name="isUserInGroup">
    <wsdl:part name="parameters" element="tns:isUserInGroup" />
  </wsdl:message>
  <wsdl:message name="acceptTask">
    <wsdl:part name="parameters" element="tns:acceptTask" />
  </wsdl:message>
  <wsdl:message name="queryCounts">
    <wsdl:part name="parameters" element="tns:queryCounts" />
  </wsdl:message>
  <wsdl:message name="editGroup">
    <wsdl:part name="parameters" element="tns:editGroup" />
  </wsdl:message>
  <wsdl:portType name="SoapService51">
    <wsdl:operation name="deleteGroup">
      <wsdl:input name="deleteGroup" message="tns:deleteGroup" />
      <wsdl:output name="deleteGroupResponse" message="tns:deleteGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContributableCollections">
      <wsdl:input name="getContributableCollections" message="tns:getContributableCollections" />
      <wsdl:output name="getContributableCollectionsResponse" message="tns:getContributableCollectionsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getCollection">
      <wsdl:input name="getCollection" message="tns:getCollection" />
      <wsdl:output name="getCollectionResponse" message="tns:getCollectionResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="editTopic">
      <wsdl:input name="editTopic" message="tns:editTopic" />
      <wsdl:output name="editTopicResponse" message="tns:editTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComment">
      <wsdl:input name="getComment" message="tns:getComment" />
      <wsdl:output name="getCommentResponse" message="tns:getCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSchema">
      <wsdl:input name="getSchema" message="tns:getSchema" />
      <wsdl:output name="getSchemaResponse" message="tns:getSchemaResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="searchGroups">
      <wsdl:input name="searchGroups" message="tns:searchGroups" />
      <wsdl:output name="searchGroupsResponse" message="tns:searchGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <wsdl:input name="deleteComment" message="tns:deleteComment" />
      <wsdl:output name="deleteCommentResponse" message="tns:deleteCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <wsdl:input name="addGroup" message="tns:addGroup" />
      <wsdl:output name="addGroupResponse" message="tns:addGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchItems">
      <wsdl:input name="searchItems" message="tns:searchItems" />
      <wsdl:output name="searchItemsResponse" message="tns:searchItemsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="cloneItem">
      <wsdl:input name="cloneItem" message="tns:cloneItem" />
      <wsdl:output name="cloneItemResponse" message="tns:cloneItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="unlock">
      <wsdl:input name="unlock" message="tns:unlock" />
      <wsdl:output name="unlockResponse" message="tns:unlockResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input name="deleteItem" message="tns:deleteItem" />
      <wsdl:output name="deleteItemResponse" message="tns:deleteItemResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="facetCount">
      <wsdl:input name="facetCount" message="tns:facetCount" />
      <wsdl:output name="facetCountResponse" message="tns:facetCountResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser" />
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="userExists">
      <wsdl:input name="userExists" message="tns:userExists" />
      <wsdl:output name="userExistsResponse" message="tns:userExistsResponse" />
    </wsdl:operation>
    <wsdl:operation name="rejectTask">
      <wsdl:input name="rejectTask" message="tns:rejectTask" />
      <wsdl:output name="rejectTaskResponse" message="tns:rejectTaskResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getTopic">
      <wsdl:input name="getTopic" message="tns:getTopic" />
      <wsdl:output name="getTopicResponse" message="tns:getTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroupsByUser">
      <wsdl:input name="getGroupsByUser" message="tns:getGroupsByUser" />
      <wsdl:output name="getGroupsByUserResponse" message="tns:getGroupsByUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getItemFilenames">
      <wsdl:input name="getItemFilenames" message="tns:getItemFilenames" />
      <wsdl:output name="getItemFilenamesResponse" message="tns:getItemFilenamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="addSharedOwner">
      <wsdl:input name="addSharedOwner" message="tns:addSharedOwner" />
      <wsdl:output name="addSharedOwnerResponse" message="tns:addSharedOwnerResponse" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout" />
      <wsdl:output name="logoutResponse" message="tns:logoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteTopic">
      <wsdl:input name="deleteTopic" message="tns:deleteTopic" />
      <wsdl:output name="deleteTopicResponse" message="tns:deleteTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="userNameExists">
      <wsdl:input name="userNameExists" message="tns:userNameExists" />
      <wsdl:output name="userNameExistsResponse" message="tns:userNameExistsResponse" />
    </wsdl:operation>
    <wsdl:operation name="editItem">
      <wsdl:input name="editItem" message="tns:editItem" />
      <wsdl:output name="editItemResponse" message="tns:editItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <wsdl:input name="getComments" message="tns:getComments" />
      <wsdl:output name="getCommentsResponse" message="tns:getCommentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchItemsFast">
      <wsdl:input name="searchItemsFast" message="tns:searchItemsFast" />
      <wsdl:output name="searchItemsFastResponse" message="tns:searchItemsFastResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="archiveItem">
      <wsdl:input name="archiveItem" message="tns:archiveItem" />
      <wsdl:output name="archiveItemResponse" message="tns:archiveItemResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getTaskFilterNames">
      <wsdl:input name="getTaskFilterNames" message="tns:getTaskFilterNames" />
      <wsdl:output name="getTaskFilterNamesResponse" message="tns:getTaskFilterNamesResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <wsdl:input name="addUserToGroup" message="tns:addUserToGroup" />
      <wsdl:output name="addUserToGroupResponse" message="tns:addUserToGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input name="uploadFile" message="tns:uploadFile" />
      <wsdl:output name="uploadFileResponse" message="tns:uploadFileResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromAllGroups">
      <wsdl:input name="removeUserFromAllGroups" message="tns:removeUserFromAllGroups" />
      <wsdl:output name="removeUserFromAllGroupsResponse" message="tns:removeUserFromAllGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryCount">
      <wsdl:input name="queryCount" message="tns:queryCount" />
      <wsdl:output name="queryCountResponse" message="tns:queryCountResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="listTopics">
      <wsdl:input name="listTopics" message="tns:listTopics" />
      <wsdl:output name="listTopicsResponse" message="tns:listTopicsResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveItem">
      <wsdl:input name="saveItem" message="tns:saveItem" />
      <wsdl:output name="saveItemResponse" message="tns:saveItemResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input name="getUser" message="tns:getUser" />
      <wsdl:output name="getUserResponse" message="tns:getUserResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="getGroupUuidForName">
      <wsdl:input name="getGroupUuidForName" message="tns:getGroupUuidForName" />
      <wsdl:output name="getGroupUuidForNameResponse" message="tns:getGroupUuidForNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <wsdl:input name="deleteFile" message="tns:deleteFile" />
      <wsdl:output name="deleteFileResponse" message="tns:deleteFileResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input name="editUser" message="tns:editUser" />
      <wsdl:output name="editUserResponse" message="tns:editUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="itemExists">
      <wsdl:input name="itemExists" message="tns:itemExists" />
      <wsdl:output name="itemExistsResponse" message="tns:itemExistsResponse" />
    </wsdl:operation>
    <wsdl:operation name="createTopic">
      <wsdl:input name="createTopic" message="tns:createTopic" />
      <wsdl:output name="createTopicResponse" message="tns:createTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUser" message="tns:addUser" />
      <wsdl:output name="addUserResponse" message="tns:addUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="moveTopic">
      <wsdl:input name="moveTopic" message="tns:moveTopic" />
      <wsdl:output name="moveTopicResponse" message="tns:moveTopicResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeSharedOwner">
      <wsdl:input name="removeSharedOwner" message="tns:removeSharedOwner" />
      <wsdl:output name="removeSharedOwnerResponse" message="tns:removeSharedOwnerResponse" />
    </wsdl:operation>
    <wsdl:operation name="loginWithToken">
      <wsdl:input name="loginWithToken" message="tns:loginWithToken" />
      <wsdl:output name="loginWithTokenResponse" message="tns:loginWithTokenResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="setParentGroupForGroup">
      <wsdl:input name="setParentGroupForGroup" message="tns:setParentGroupForGroup" />
      <wsdl:output name="setParentGroupForGroupResponse" message="tns:setParentGroupForGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="isUserInGroup">
      <wsdl:input name="isUserInGroup" message="tns:isUserInGroup" />
      <wsdl:output name="isUserInGroupResponse" message="tns:isUserInGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="editGroup">
      <wsdl:input name="editGroup" message="tns:editGroup" />
      <wsdl:output name="editGroupResponse" message="tns:editGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <wsdl:input name="newItem" message="tns:newItem" />
      <wsdl:output name="newItemResponse" message="tns:newItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="getItem">
      <wsdl:input name="getItem" message="tns:getItem" />
      <wsdl:output name="getItemResponse" message="tns:getItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input name="addComment" message="tns:addComment" />
      <wsdl:output name="addCommentResponse" message="tns:addCommentResponse" />
    </wsdl:operation>
    <wsdl:operation name="acceptTask">
      <wsdl:input name="acceptTask" message="tns:acceptTask" />
      <wsdl:output name="acceptTaskResponse" message="tns:acceptTaskResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="queryCounts">
      <wsdl:input name="queryCounts" message="tns:queryCounts" />
      <wsdl:output name="queryCountsResponse" message="tns:queryCountsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="newVersionItem">
      <wsdl:input name="newVersionItem" message="tns:newVersionItem" />
      <wsdl:output name="newVersionItemResponse" message="tns:newVersionItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="keepAlive">
      <wsdl:input name="keepAlive" message="tns:keepAlive" />
      <wsdl:output name="keepAliveResponse" message="tns:keepAliveResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTaskList">
      <wsdl:input name="getTaskList" message="tns:getTaskList" />
      <wsdl:output name="getTaskListResponse" message="tns:getTaskListResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="searchUsersByGroup">
      <wsdl:input name="searchUsersByGroup" message="tns:searchUsersByGroup" />
      <wsdl:output name="searchUsersByGroupResponse" message="tns:searchUsersByGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="groupExists">
      <wsdl:input name="groupExists" message="tns:groupExists" />
      <wsdl:output name="groupExistsResponse" message="tns:groupExistsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSearchableCollections">
      <wsdl:input name="getSearchableCollections" message="tns:getSearchableCollections" />
      <wsdl:output name="getSearchableCollectionsResponse" message="tns:getSearchableCollectionsResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="setOwner">
      <wsdl:input name="setOwner" message="tns:setOwner" />
      <wsdl:output name="setOwnerResponse" message="tns:setOwnerResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroup">
      <wsdl:input name="removeUserFromGroup" message="tns:removeUserFromGroup" />
      <wsdl:output name="removeUserFromGroupResponse" message="tns:removeUserFromGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="unzipFile">
      <wsdl:input name="unzipFile" message="tns:unzipFile" />
      <wsdl:output name="unzipFileResponse" message="tns:unzipFileResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="removeAllUsersFromGroup">
      <wsdl:input name="removeAllUsersFromGroup" message="tns:removeAllUsersFromGroup" />
      <wsdl:output name="removeAllUsersFromGroupResponse" message="tns:removeAllUsersFromGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTaskFilterCounts">
      <wsdl:input name="getTaskFilterCounts" message="tns:getTaskFilterCounts" />
      <wsdl:output name="getTaskFilterCountsResponse" message="tns:getTaskFilterCountsResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelItemEdit">
      <wsdl:input name="cancelItemEdit" message="tns:cancelItemEdit" />
      <wsdl:output name="cancelItemEditResponse" message="tns:cancelItemEditResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapService51ServiceSoapBinding" type="tns:SoapService51">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContributableCollections">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContributableCollections">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContributableCollectionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCollection">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCollection">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCollectionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editTopic">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="editTopic">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="editTopicResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCommentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchema">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSchema">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSchemaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteComment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCommentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchGroups">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchGroups">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchGroupsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cloneItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cloneItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cloneItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchItems">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchItems">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unlock">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="unlock">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="unlockResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="facetCount">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="facetCount">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="facetCountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="userExists">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="userExists">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="userExistsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rejectTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="rejectTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rejectTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopic">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTopic">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTopicResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupsByUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGroupsByUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGroupsByUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItemFilenames">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getItemFilenames">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getItemFilenamesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSharedOwner">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addSharedOwner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addSharedOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTopic">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteTopic">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteTopicResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="editItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="editItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userNameExists">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="userNameExists">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="userNameExistsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCommentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchItemsFast">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchItemsFast">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchItemsFastResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="archiveItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="archiveItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="archiveItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addUserToGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserToGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskFilterNames">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTaskFilterNames">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTaskFilterNamesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromAllGroups">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeUserFromAllGroups">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserFromAllGroupsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="uploadFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="uploadFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryCount">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryCount">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryCountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listTopics">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listTopics">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listTopicsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="editUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="editUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getGroupUuidForName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGroupUuidForName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGroupUuidForNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemExists">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="itemExists">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="itemExistsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTopic">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createTopic">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createTopicResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moveTopic">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="moveTopic">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="moveTopicResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeSharedOwner">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeSharedOwner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeSharedOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginWithToken">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="loginWithToken">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginWithTokenResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setParentGroupForGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setParentGroupForGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setParentGroupForGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isUserInGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isUserInGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isUserInGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="editGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="editGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="newItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="acceptTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="acceptTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addComment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addCommentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryCounts">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryCounts">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryCountsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newVersionItem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newVersionItem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="newVersionItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTaskList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTaskListResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="keepAlive">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="keepAlive">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="keepAliveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSearchableCollections">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSearchableCollections">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSearchableCollectionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="groupExists">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="groupExists">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="groupExistsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsersByGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchUsersByGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchUsersByGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setOwner">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setOwner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeUserFromGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserFromGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAllUsersFromGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeAllUsersFromGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeAllUsersFromGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unzipFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="unzipFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="unzipFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelItemEdit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelItemEdit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelItemEditResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTaskFilterCounts">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTaskFilterCounts">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTaskFilterCountsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapService51Service">
    <wsdl:port name="SoapService51Endpoint" binding="tns:SoapService51ServiceSoapBinding">
      <soap:address location="http://origliasso/Shiny/my/services/SoapService51" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>